<section class="hero carousel">
  <div>
    <app-carousel
      [images]="imageUrlArray"
      [minHeight]="'70vh'"
      [autoPlay]="true"
      [showArrows]="false"
      [autoPlayInterval]="7000"
    ></app-carousel>
  </div>

  <app-search-box [localization]="searchLocalization"></app-search-box>
</section>

<section class="section pt-6">
  <div class="container bt-meetings-list">
    <div class="columns">
      <div class="column">
        <div class="bt-meeting-header">
          <div *ngIf="meetingsCity" class="bt-title-primary-big">
            Spotkania w twoim mieście: {{ city }}
          </div>
          <div class="bt-meeting-header-see-more">
            <a (click)="searchByCity()">Zobacz więcej</a>
          </div>
        </div>
        <app-meeting-card-list
          [meetings]="meetingsCity.slice(0, 8)"
        ></app-meeting-card-list>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="bt-meeting-header">
          <div *ngIf="meetingsCountry" class="bt-title-primary-big">
            Spotkania w twoim kraju: {{ country }}
          </div>
          <div class="bt-meeting-header-see-more">
            <a (click)="searchByCountry()">Zobacz więcej</a>
          </div>
        </div>
        <app-meeting-card-list
          [meetings]="meetingsCountry.slice(0, 8)"
        ></app-meeting-card-list>
      </div>
    </div>
    <!-- <div class="columns">
      <div class="column">
        <div class="bt-meeting-header">
          <div *ngIf="meetingsCategory" class="bt-title-primary-big">
            Spotkania wylosowanej kategorii: {{ category }}
          </div>
          <div class="bt-meeting-header-see-more">
            <a>Zobacz więcej</a>
          </div>
        </div>
        <app-meeting-card-list
          [meetings]="meetingsCategory.slice(0, 8)"
        ></app-meeting-card-list>
      </div>
    </div> -->
  </div>
</section>

<div class="bt-map">
  <app-map
    *ngIf="currentLocation"
    [readMode]="true"
    [latitude]="currentLocation.latitude"
    [longitude]="currentLocation.longitude"
    [meetings]="mergedMeetings"
  ></app-map>
</div>

<app-login></app-login>
<app-register></app-register>
