<section class="hero carousel">
  <div>
    <app-carousel
      [images]="imageUrlArray"
      [minHeight]="'70vh'"
      [autoPlay]="true"
      [showArrows]="false"
      [autoPlayInterval]="7000"
    ></app-carousel>
  </div>

  <app-search-box [localization]="searchLocalization"></app-search-box>
</section>

<section class="section pt-6">
  <div class="container bt-meetings-list">
    <div class="columns">
      <div class="column">
        <app-meeting-card-list
          [title]="'Spotkania w twoim mieście: ' + city"
          [meetings]="meetingsCity"
        ></app-meeting-card-list>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <app-meeting-card-list
          [title]="'Spotkania w twoim kraju: ' + country"
          [meetings]="meetingsCountry"
        ></app-meeting-card-list>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <app-meeting-card-list
          [title]="foo"
          [meetings]="meetingsCategory"
        ></app-meeting-card-list>
      </div>
    </div>
  </div>
</section>

<div class="bt-map">
  <app-map
    *ngIf="currentLocation"
    [readMode]="true"
    [latitude]="currentLocation.latitude"
    [longitude]="currentLocation.longitude"
    [meetings]="mergedMeetings"
  ></app-map>
</div>

<app-login></app-login>
<app-register></app-register>
