<form (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm">
  <input
    class="input wrapper"
    formControlName="password"
    type="password"
    placeholder="{{ 'account.password' | translate }}"
  />

  <input
    class="input wrapper"
    formControlName="newPassword"
    type="password"
    placeholder="{{ 'account.new-password' | translate }}"
  />

  <input
    class="input wrapper"
    formControlName="confirmNewPassword"
    type="password"
    placeholder="{{ 'account.confirm-new-password' | translate }}"
  />

  <div class="has-text-right">
    <button
      [ngClass]="{ 'is-loading': isLoading }"
      class="button button-primary mt-2"
      type="submit"
    >
      {{ "common.change" | translate }}
    </button>
  </div>
</form>
