<div class="card card-size">
  <div class="card-image">
    <slideshow
      *ngIf="images.length"
      [minHeight]="'22vh'"
      [showArrows]="true"
      [imageUrls]="images"
    >
    </slideshow>
  </div>

  <div class="card-content">
    <div class="title">
      <a [routerLink]="['/meetings/', id]">
        <b>{{ meeting.name }}</b>
      </a>
    </div>
    Chetnych: 28
    <div class="content">
      {{ meeting.description }}
      <div><a href="#">#responsive</a></div>
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
  </div>
</div>
