<div class="card">
  <div class="card-image">
    <slideshow
      *ngIf="Images.length"
      [minHeight]="'30vh'"
      [showArrows]="true"
      [imageUrls]="Images"
    >
    </slideshow>
  </div>
  <div class="card-content">
    <div class="title">Koszykowka</div>
    Chetnych: 28
    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
      iaculis mauris.
      <a href="#">#responsive</a>
      <br />
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item">See more</a>
  </footer>
</div>
