<div class="bt-card">
  <div>
    <slideshow
      *ngIf="base64images.length"
      [minHeight]="'12rem'"
      [showArrows]="true"
      [imageUrls]="base64images"
    >
    </slideshow>
  </div>
  <div class="bt-card-content">
    <div class="bt-card-title bt-card-text">
      <a [routerLink]="['/meetings/', id]">
        <b>{{ name }}</b>
      </a>
    </div>
    <div>
      {{ "meeting.free-places" | translate }}: {{ maxParticipants }}
    </div>
    <div class="bt-card-text">{{ description }}</div>

    <div>
      <time><b>{{ parseDate }}</b></time>
    </div>
    <div>
      <a [routerLink]="['/meetings/category/', category.id]">
        #{{ category.name }}
      </a>
    </div>
  </div>
</div>
