.bt-wrapper {
  max-width: 30rem;
  border-radius: 7px;

  .bt-header {
    height: 3rem;
    background: white;
    border-bottom: 1px solid blak;
  }

  .bt-footer {
    background: white;
    border-top: none;
  }
}
