@import "../../../styles/variables.scss";

.bt-settings-panel {
  padding: 0;
  max-width: 19rem;
  height: 13rem;

  @media only screen and (max-width: 769px) {
    max-width: none;
  }
}

.bt-settings-title {
  padding: 0.75rem 0.75rem 0 0.75rem;
}

.bt-panel {
  justify-content: center;
}

.bt-center-panel {
  @media only screen and (min-width: 769px) {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  @media only screen and (max-width: 769px) {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.bt-active-menu-tab {
  border-left: 4px solid $primary;

  a {
    padding-left: 1.5rem;
  }
}

.bt-avatar-panel {
  max-height: 18rem;

  @media only screen and (min-width: 1408px) {
    max-height: 16.5rem;
  }
}
