<section class="section">
  <div class="container">
    <ngx-spinner
      bdColor="rgba(0, 0, 0, 0.1)"
      size="medium"
      color="#fff"
      type="ball-clip-rotate"
      [fullScreen]="false"
    >
      <p style="color: white">Loading...</p>
    </ngx-spinner>
    <div *ngIf="meeting" class="columns">
      <div class="column is-9">
        <h1 class="title">{{ meeting.name }}</h1>
        <div>
          Hosted by: {{ meeting.meetingOrganizer.firstname }}
          {{ meeting.meetingOrganizer.lastname }}
        </div>
        <div>{{ meeting.date }}</div>

        <div>{{ meeting.description }}</div>
        <div>{{ meeting.category.name }}</div>
        <div>{{ meeting.maxParticipants }}</div>

        <div>{{ meeting.createdAt }}</div>
        <div>{{ meeting.updatedAt }}</div>

        <div>{{ meeting.category.id }}</div>
        <div>{{ meeting.category.name }}</div>

        <div class="bt-map">
          <app-map
            [readMode]="true"
            [latitude]="meeting.address.latitude"
            [longitude]="meeting.address.longitude"
            [title]="meeting.name"
            [address]="meeting.address"
          ></app-map>
        </div>
      </div>
      <div class="column is-3">
        <img
          *ngFor="let image of meeting.images"
          class="bt-image"
          src="data:image/JPEG;base64,{{ image.picture }}"
        />
      </div>
    </div>
  </div>
</section>
