<section class="section">
  <div class="container">
    <!-- TODO: ADD LOADER -->
    <ngx-spinner
      bdColor="rgba(0, 0, 0, 0.1)"
      size="medium"
      color="#fff"
      type="ball-clip-rotate"
      [fullScreen]="false"
    >
      <p style="color: white">Loading...</p>
    </ngx-spinner>
    <div *ngIf="meeting" class="columns">
      <div class="column is-9">
        <div class="bt-header">
          <h1 class="title">{{ meeting.name }}</h1>
          <button class="button" (click)="joinMeeting()">{{ "meeting.join" | translate }}</button>
        </div>

        <div *ngIf="meeting.meetingOrganizer" class="bt-header bt-header-sub">
          <div>
            {{ "meeting.hosted-by" | translate }}:
            <a [routerLink]="['/users/', meeting.meetingOrganizer.id]">
              <b>
                {{ meeting.meetingOrganizer.firstname }}
                {{ meeting.meetingOrganizer.lastname }}
              </b>
            </a>
          </div>
          <div>
            {{ "meeting.free-slots" | translate }}: {{ meeting.participantCount }}/{{
              meeting.maxParticipants
            }}
          </div>
        </div>
        <div class="bt-header-sub">{{ "meeting.date" | translate }}: {{ parseDate(meeting.date) }}</div>

        <br />
        <div class="bt-title-primary">{{ "meeting.description" | translate }}</div>
        <div>{{ meeting.description }}</div>

        <br />
        <div>
          <a [routerLink]="['/category/', meeting.category.id]">
            <div>#{{ meeting.category.name }}</div>
          </a>
        </div>

        <div>{{ "meeting.last-update" | translate }}: {{ parseDate(meeting.updatedAt) }}</div>
        <div class="bt-map">
          <app-map
            [readMode]="true"
            [latitude]="meeting.address.latitude"
            [longitude]="meeting.address.longitude"
            [range]="meeting.address.range"
            [title]="meeting.name"
            [address]="meeting.address"
          ></app-map>
        </div>
      </div>
      <div class="column is-3">
        <img
          *ngFor="let image of meeting.images"
          class="bt-image"
          src="data:image/JPEG;base64,{{ image.picture }}"
        />
      </div>
    </div>
  </div>
</section>
