<div [class]="styleBasic ? 'bt-search-basic' : 'bt-search'">
  <div [class]="styleBasic ? 'bt-search-box bt-search-box-basic' : 'bt-search-box'">
    <input
      [(ngModel)]="searchTerm"
      class="input mr-4 bt-sarch-input"
      placeholder="Wyszukaj"
    />

    <div class="bt-divider"></div>

    <div class="ng-autocomplete">
      <ng-autocomplete
        [(ngModel)]="localization.city"
        [data]="citySuggest"
        [searchKeyword]="keyword"
        (selected)="selectEvent($event)"
        (inputChanged)="onChangeSearch($event)"
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate"
        class="autocomplete-container"
        placeHolder="Gdzie?"
      >
      </ng-autocomplete>

      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name + ', ' + item.countryCode"></a>
      </ng-template>

      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>

    <span class="icon ml-2 mr-2" (click)="search()">
      <i class="fas fa-lg fa-search"></i>
    </span>
  </div>
</div>
