<google-map
  (mapClick)="click($event)"
  height="100%"
  width="100%"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
>
  <map-marker
    #somemarker="mapMarker"
    *ngIf="marker"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
    (mapClick)="openInfo(somemarker, marker.info)"
  >
  </map-marker>
  <map-info-window>{{ infoContent }}</map-info-window>
  <map-circle *ngIf="marker && r" [center]="marker.position" [radius]="+r">
  </map-circle>
  <!-- <map-circle
    *ngIf="marker"
    [center]="marker.position"
    [radius]="range"
    [title]="marker.title"
    [options]="marker.options"
    (mapClick)="openInfo(somemarkere, marker.info)"
  >
  </map-circle> -->
</google-map>