<nav
  class="navbar nav nav-border"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand pl-3">
    <a class="navbar-item" (click)="openHome()">
      <h1 class="title">
        {{ "common.title" | translate }}
      </h1>
    </a>

    <a
      role="button"
      class="navbar-burger"
      #navBurger
      aria-label="menu"
      aria-expanded="false"
      (click)="toggleNavbar()"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="bt-navbar-menu navbar-menu pr-3" #navMenu>
    <div *ngIf="!isLoggedIn" class="navbar-end">
      <div class="navbar-item" (click)="openLoginModal()">
        <b id="burger" class="bt-pointer">
          {{ "header.login" | translate }}
        </b>
      </div>
      <div class="navbar-item" (click)="openRegisterModal()">
        <b id="burger" class="bt-pointer">
          {{ "header.join-us" | translate }}
        </b>
      </div>
    </div>
    <div *ngIf="isLoggedIn" class="navbar-end">
      <div class="navbar-item" (click)="createNewMeeting()">
        <b id="burger" class="bt-pointer">
          {{ "meeting.add-meeting" | translate }}
        </b>
      </div>

      <p class="navbar-item bt-separator-display-none">|</p>

      <div
        *ngIf="profile"
        class="dropdown is-hoverable dropdown-trigger navbar-item bt-pointer"
        (click)="openMenu()"
      >
        <b class="mr-3"> {{ profile.firstname }} {{ profile.lastname }} </b>
        <figure *ngIf="profile" class="image bt-avatar-border">
          <img
            *ngIf="profile.avatar"
            class="bt-avatar-img"
            src="data:image/JPEG;base64,{{ profile.avatar }}"
          />

          <b *ngIf="!profile.avatar" class="bt-no-avatar">
            {{ getUserSignature }}
          </b>
        </figure>

        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content bt-menu">
            <a class="dropdown-item" (click)="openUserPanel()"> Userpanel </a>
            <hr class="dropdown-divider" />
            <a class="dropdown-item" (click)="logout()"> Logout </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
