<nav class="navbar nav px-3" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="">
      <h1 class="title logo">bachelor's thesis</h1>
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-end">
    <div class="navbar-item logo">Zaloguj</div>
    <div class="navbar-item logo"><b>Rejestracja</b></div>
  </div>
</nav>
